<div [ngClass]="avatar ? 'not-collapsed' : 'collapsed'" class="expansion-panel products-page-wrapper">
  <div class="search-buttons-wrapper">
    <div class="search-by-text-wrapper">
      <mat-form-field class="search" appearance="outline" *ngIf="searchControl">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="searchControl" (keyup)="searchOnEnter($event)">
      </mat-form-field>
      <button mat-icon-button (click)="searchByText()"><span class="material-icons">search</span></button>
    </div>
    <nike-button [text]="avatar ? 'Search by image' : 'Upload image'" [icon]="window.innerWidth <= 430 ? 'camera_alt' : undefined" (click)="avatar ? search() : takePicture()"></nike-button>
  </div>
  <div *ngIf="avatar" class="avatar__wrapper">
    <img [src]="avatar" alt="" width="400px" height="400px">
    <button (click)="deletePhoto()" mat-icon-button color="warn"><span class="material-icons">cancel</span></button>
  </div>
</div>
<div class="products-listing-wrapper">
  <div *ngFor="let product of products" class="product__wrapper">
    <nike-product [product]="product" [isSelected]="product.name==imageSearchProductName" (clicked)="goToProductDetails(product)"></nike-product>
  </div>
</div>
