<div
  style="display: flex; align-items: center; justify-content: space-between; max-width: 1200px; margin: 0 auto; flex-direction: column;"
  [ngClass]="avatar ? 'not-collapsed' : 'collapsed'" class="expansion-panel">
  <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
    <div style="display: flex; align-items: center; justify-content: center;">
      <input type="text" class="authentication__input authentication__input--no-margin" placeholder="Search">
      <button mat-icon-button style="margin-left: 4px;"><span class="material-icons">search</span></button>
    </div>
    <nike-button [text]="expanded ? 'Hide' : 'Show search options'" (click)="takePicture()"></nike-button>
  </div>
  <div *ngIf="avatar" style="display: flex; align-items: flex-start; margin-top: 24px;">
    <img [src]="avatar" alt="" width="400px" height="400px" style="">
    <button (click)="deletePhoto()" mat-icon-button style="margin-left: -27px; margin-top: -15px;
    border-radius: 50% !important;" color="warn"><span class="material-icons">close</span></button>
  </div>
</div>
<div style="display: flex; flex-wrap: wrap; align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;">
  <div *ngFor="let product of products" class="product__wrapper">
    <nike-product [product]="product" (clicked)="goToProductDetails()"></nike-product>
  </div>
</div>
