<div style="display: flex; align-items: center; justify-content: center;">

</div>
<ng-template #emptyCart>
  <div class="cart__empty-wrapper">
    <span>Your cart is empty.</span>
    <span>Continue searching for your boots.</span>
  </div>
</ng-template>
<div class="order order__details" *ngIf="cart; else emptyCart">
  <div class="order__row">
    <span class="order__row--aligned">Estimated delivery</span>
<!--    <span class="order__row&#45;&#45;aligned">{{cart.estimatedDateTime?.toJSDate() | date : 'HH:mm dd.MMM.yyyy' | uppercase}}</span>-->
    <span class="order__row--aligned">{{cart.estimatedDateTime}}</span>
  </div>
  <div class="order__row order__row--spaced">
    <span class="order__row--aligned">Delivery address:</span>
    <span class="order__row--aligned">{{cart.deliveryAddress}}</span>
  </div>
  <div class="order__row order__row--spaced">
    <span class="order__row--aligned" [innerHTML]="'Delivery fee: ' + (cart.deliveryCost | price) + ' RON'"></span>
    <span class="order__row--aligned">({{cart.products?.length}} products)</span>
  </div>
  <div class="order__row order__row--spaced">
    <span class="order__row--aligned" style="margin-left: 6px">Total:</span>
    <span class="order__row--aligned"  [innerHTML]="(cart.value + cart.deliveryCost | price) + ' RON'"></span>
  </div>
  <div class="order__row order__row--spaced">
    <span class="order__row--aligned" style="margin-left: 6px">Items</span>
    <button class="order__button" (click)="makeOrder(cart)"><span>Checkout</span></button>
  </div>
  <div class="order__row order__row--spaced order__row--products">
    <div class="order__product-and-divider" *ngFor="let product of cart.products; let last=last">
      <div class="order__product" [ngClass]="{'order__product--last': last}">
        <div class="order__product-details">
          <img [src]="product.photoUrl" alt="" class="order__image">
          <span>{{product.name}}</span>
          <span>({{product.size}} size)</span>
        </div>
        <span [innerHTML]="(product.price | price) + ' RON'"></span>
      </div>
      <div class="order__divider" *ngIf="!last"></div>
    </div>
  </div>

</div>
